.editTodoLink
{
  cursor: pointer;
  margin-left: 10px;
}

.completed .editTodoLink
{
  color: lightgray;
  cursor: default;
  text-decoration: line-through;
}

.completed:hover .editTodoLink
{
  color: lightgray;
  cursor: default;
  text-decoration: line-through;
}

.completed:hover .editTodoLink
{
  text-decoration: line-through;
}

.loader
{
  text-align: center;
}

#todoList .list-group
{
  display: none;
}

.list-group-item
{
  display: none;
}