.editTodoLink
{
  cursor: pointer;
  margin-left: 10px;
}

.completed .editTodoLink
{
  color: lightgray;
  cursor: default;
  text-decoration: line-through;
}

.completed:hover .editTodoLink
{
  color: lightgray;
  cursor: default;
  text-decoration: line-through;
}

.completed:hover .editTodoLink
{
  text-decoration: line-through;
}

.loader
{
  text-align: center;
}

#todoList .list-group
{
  display: none;
}

.list-group-item
{
  display: none;
}

.todoDate
{
  font-size: 0.8em;
  line-height: 2em;
  margin-right: 10px;
  color: lightgray;
}

.completed .todoDate
{
  color: lightgray;
  cursor: default;
  text-decoration: line-through;
}

.completed:hover .todoDate
{
  color: lightgray;
  cursor: default;
  text-decoration: line-through;
}

.editable-inline
{
  margin-left: 10px;
}
